body {
    background-image: url('/images/metalrefine.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
  }
  a {
    color: gold;}